
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.playwright-mcp/

.claude/*
.cursorrules
.mcp.json
.windsurfrules
AGENTS.md
CLAUDE.md
GEMINI.md
.claude/settings.local.json
